
.tour-button {
  font-size: 20px;
  margin-left: 30px;
  cursor: pointer;
padding: 10px 0;
}

.tour-button.active {
  color: $gold;
}

.card {
  padding: 14px;
  max-width: 519px;
  border-radius: 7px;
  background-color: #f8f7f7;
  display: flex;
  margin-right: 10px;

}
.card:last-of-type{
  margin: 0;
}

.card-img {
  max-width: 100%;
  height: 100%;

}

.card-info {
  padding: 10px 6px 0 28px ;
}

.card-title {
  font-size: 17px;
  margin-bottom: 6px;
}

.card-text {
  font-size: 14px;
  color: #3a3a3a;
  margin-bottom: 10px;
}

.line {
  margin-bottom: 17px;
}

.card-bottom {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.card-price {
  font-size: 20px;
}
.card-price:after {
  content: "/за 1 человека";
  position: relative;
  left: 10px;
  bottom: 10px;
  font-size: 11px;
  color: #8a8a8a;
}

.card-button {
  width: 37px;
  height: 37px;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 50%;
  background: $gold;
  cursor: pointer;

}
.card-button:hover{
  opacity: 0.5;
}

.main{
  flex: 1 1 auto;
}

.slider{display: flex;
  justify-content: space-between;
  margin: 70px 10px 45px;
}
.slider-button{
  padding: 5px;
  cursor: pointer;
}
@media (max-width: 1200px ){
 .card{
   align-items: center;
   text-align: center;
   flex-direction: column;
 }
}
@media (max-width: 850px) {
  .card-hide-1{
    display: none;
  }
}
@media (max-width: 500px) {
  .card-hide-2{
    display: none;
  }
}